.alinharCard {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.alinharComponentesCriaturas {
    display: flex;
    justify-content: space-between;
}

.alinharContainer {
    height: 100vh!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-evenly!important;
}

#spanLevelCriatura {
    z-index: 1;
    color: #420c19;
    font-size: 12px;
}

.bodyTopo {
    display: grid;
}

.bodyBaixo {
    display: grid;
}

.grid1, .grid2 {
    display: grid;
    grid-template-columns: auto auto;
}

.coluna1Topo, .coluna2Topo {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 25px;
}

.coluna1Baixo, .coluna2Baixo {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.baseline {
    align-items: baseline;
}

.imagemCriatura {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.imgLevel {
    z-index: 1;
    width: 25px;
    height: 25px;
    padding: 2px;
}

.bodyCard {
    width: 202px;
    display: grid;
}

.bg-blue {
    background-color: blue;
}

.scene {
    width: 100%;
    height: 260px;
    border: none;
    margin: 40px 0;
    perspective: 600px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    border: none !important;
    --bs-card-bg: none !important;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
  }
  
  .card__face--back {
    transform: rotateY(180deg);
  }
  
  .card-img-top {
    width: 120px;
    height: fit-content;
    position: absolute;
  }
  
  