.questCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.levelGuild {
    background-color: white;
    border-radius: 15px;
    display: flex;
    color: black;
    padding: 10px;
    align-items: end;
    
}

#levelGuild img {
    margin-right: 10px;
}

.pontosTexto {
    margin: 0;
}